.DS_Store
tmp

clockwork/**/*
!clockwork/.gitkeep

engine/**/*
!engine/.gitkeep

freezer/**/*
!freezer/.gitkeep

pusher/**/*
!pusher/.gitkeep

components/**/*
!components/*/.gitkeep

scripts/tmp
!scripts/tmp/.gitkeep
